
@{
    ViewBag.Title = "Inovetion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .p-t-30 {
        padding-top: 30px !important;
        color: #333;
        font-size: 18px;
        line-height: 1.888887;
    }
    .media-heading h3{
        text-transform:none;
        letter-spacing:.5px;
        line-height:1.3em;
        color:#555;
    }
    .p-t-20 {
        padding-top: 20px;
        color: #fff;
    }
    .section-title h3{
        color:#fff !important;
        text-transform:none;
        letter-spacing:.5px;
        line-height:1.3em;
        font-weight:900;
    }
    .s-t-0 h3 {
        color: #000 !important;
        text-transform: none;
        letter-spacing: .5px;
        line-height: 1.3em;
        font-weight: 900;
    }
</style>
<div class="box">
    <div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay=".4s">
        <div class="col-sm-12">
            <img src="~/images/Innovition/innovation_icon_hand.png" />
            <h4>Our Innovation</h4>
        </div>
    </div>
</div>
<div class="about-us">
    <div class="container">
        <div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay=".4s">
            <div class="col-md-6">
                <img src="~/images/Innovition/innovation_1.png" class="img-responsive" />
            </div>
        </div>
        <div class="wow fadeInRight" data-wow-offset="0" data-wow-delay=".5s">
            <div class="col-md-6">
                <div class="media-body">
                    <h3 class="media-heading">ฟิล์ม MOD : Machine Direction Orientation Film</h3>
                    <p class="p-t-30">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คือ ฟิล์ม LLDPE คุณภาพสูง ผลิตโดยการให้ความร้อนอุณหภูมิที่ต่ำกว่า
                        Melting Point เล็กน้อย แล้วยืดฟิล์มด้วยหลักการของการทำ Orientation ในทิศทาง
                        Machine Direction สามารถทำได้กับ Blown Film และ Cast Film โดย Cast Film สามารถทำ
                        Orientation ได้สองทิศทาง (Bi Axial Orientation) ทั้งในแนว Machine Direction และแนว
                        Transvers Direction ได้เป็นฟิล์ม Bi Axial Orientation Polyethylene (BOPE)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container" style="background-color:#808080;">
        <div class="col-sm-6 p-t-20 wow fadeInLeft" data-wow-offset="0" data-wow-delay=".5s">
            <div class="section-title text-center">
                <h3> ประโยชน์ของกระบวนการ ผลิตฟิล์ม MDO</h3>
            </div>
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-offset="0" data-wow-delay=".8s">
            <img src="~/images/Innovition/innovation_2.png" class="img-responsive img-blog" />
            <p>
                คุณสมบัติด้าน Mechanical เช่น ความแข็งแรง Puncture Resistance และการฉีกได้ง่าย
                Easy Tearing ตามแนว Machine Direction รวมถึงคุณสมบัติด้าน Optical เช่น ความใส ความวาว
                ดีขึ้น จนสามารถนำมาใช้แทน OPA ได้ในกระบวนการพิมพ์ และเมื่อนำมา MDO หรือ BOPE ที่พิมพ์แล้วมาเคลือบกับ
                LLDPE หรือ WLLDPE ที่นำมาเป็นชั้น Sealant ซึ่งเป็นวัตถุดิบประเภทเดียวกัน เลยทำให้สามารถนำกลับมาหลอม
                Recycle ได้ จะลดปริมาณการใช้ฟิล์มประเภท LLDPE จากกระบวนการผลิต สามารถยืดฟิล์มได้ถึง 1,000%
                ให้ได้ความแข็งแรงมากขึ้น จึงสามารถลดความหนาของฟิล์มลงได้ตามความแข็งแรงที่ต้องการ
            </p>
            <p class="p-t-20">
                ลดต้นทุนการผลิตอื่น เช่น กระบวนการผลิตจากการผลิตในขั้นตอนเดียว ค่าขนส่ง เป็นต้น
                / Low Emission CO2: Carbon Footprint / ทนความชื้น (Moisture Resistance)
            </p>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="text-center">
            <div class="col-md-6 wow fadeInDown" data-wow-offset="0" data-wow-delay=".5s">
                <img src="~/images/Innovition/innovation_3.png" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <div class="s-t-0 text-center wow fadeInUp" data-wow-offset="0" data-wow-delay=".5s">
                    <h3>การนำฟิล์ม MDO และ BOPE มาใช้ผลิตบรรจุภัณฑ์ประเภทต่าง ๆ</h3>
                </div>
                <div class="p-t-30 wow fadeInUp media-left" data-wow-offset="0" data-wow-delay=".8s">
                    ใช้แทน OPA สำหรับกลุ่ม Frozen Products
                    และ Stand up pouch งานซองน้ำยา / ฟิล์มสำหรับบรรจุ Nappies,
                    Sanitary Products &amp; Incontinence Pads / สามารถนำขั้นตอนการผลิต
                    MDO Film มาปรับปรุงความแข็งแรงของ Biodegradable Film ได้ สำหรับบรรจุภัณฑ์ เช่น ถุงหูหิ้ว และฟิล์มสำหรับห่อเก็บรักษาอาหาร เป็นต้น
                </div>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="text-center">
                <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
                    <h2>กระบวนการผลิตฟิล์ม MDO</h2>
                </div>
                <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
                    <p>LLDPE &gt; Preheating &gt; Stretching &gt; Annealing &gt; Cooling &gt; MDO film</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12 fadeInRight" data-wow-offset="0" data-wow-delay="0.5s">
                <img src="~/images/Innovition/innovation_5_new.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
