
@{
    ViewBag.Title = "InvestorRelations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .skills {
        margin-top:-17px;
        background: url(/images/Investor/service-map.png) no-repeat #f0f0f0;
    }
    .p-t-30 {
        padding-top: 30px !important;
        color: #333;
        font-size: 18px;
        line-height: 1.888887;
    }
    .p-t-10 {
        padding-top: 10px !important;
        color: #333;
        font-size: 14px;
        line-height: 1.888887;
    }
    .b-g-c{
        background-color:#dadadc;
    }
    .list-group-item{
        background-color:#f9f9f9;
    }
    .iconbox.iconbox-style-6 p {
        padding: 11px 0 14px;
        color: #000 !important;
    }

        .iconbox.iconbox-style-6 .iconbox-container {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
        }

            .iconbox.iconbox-style-6 .iconbox-container .iconbox-image {
                padding-top: 4px;
            }

                .iconbox.iconbox-style-6 .iconbox-container .iconbox-image a {
                    display: block;
                    position: relative;
                    width: 50px;
                    height: 50px;
                    color: #4272d7;
                    -webkit-transition: all 0.35s linear;
                    -o-transition: all 0.35s linear;
                    -moz-transition: all 0.35s linear;
                    transition: all 0.35s linear;
                    border: 1px solid #4272d7;
                }

                    .iconbox.iconbox-style-6 .iconbox-container .iconbox-image a i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        font-size: 26px;
                        line-height: 0.9230769231;
                    }

                    .iconbox.iconbox-style-6 .iconbox-container .iconbox-image a:hover {
                        background-color: #4272d7;
                        color: #000 !important;
                        border: 1px solid #4272d7;
                    }

            .iconbox.iconbox-style-6 .iconbox-container .iconbox-content {
                padding-left: 18px;
            }

                .iconbox.iconbox-style-6 .iconbox-container .iconbox-content .iconbox-content-heading {
                    display: inline-block;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #333;
                    font-weight: 900;
                    margin-bottom: 8px;
                    cursor: pointer;
                    -webkit-transition: all 0.35s;
                    -o-transition: all 0.35s;
                    -moz-transition: all 0.35s;
                    transition: all 0.35s;
                }

                    .iconbox.iconbox-style-6 .iconbox-container .iconbox-content .iconbox-content-heading:hover {
                        color: #4272d7;
                    }

                .iconbox.iconbox-style-6 .iconbox-container .iconbox-content .iconbox-content-body {
                    font-size: 15px;
                    color: #666;
                    line-height: 1.6666666667;
                }

                    .iconbox.iconbox-style-6 .iconbox-container .iconbox-content .iconbox-content-body p {
                        margin-bottom: 0;
                    }

</style>
<div class="skills">
    <div class="container">
        <div class="text-center">
            <div class="wow bounceInDown" data-wow-offset="0" dat-wow-delay="0.3s">
                <h2>INVESTOR RELATIONS</h2>
                <p>
                    Starflex Public Company Limited Announcements<br />
                    The latest release announcements are available to download below
                </p>
                <div>
                    <a  href="https://www.settrade.com/settrade/#/home" target="_blank" class="btn btn-default readmore">Stock Info</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us">
    <div class="container">
        <div class="col-md-6 wow fadeInLeft" data-wow-offset="0" dat-wow-delay="0.6s">
            <img src="~/images/Investor/about_03.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-6 wow bounceInRight" data-wow-offset="0" dat-wow-delay="0.8s">
            <h2>แนะนำ บริษัท สตาร์เฟล็กซ์ จำกัด (มหาชน)</h2>
            <p class="p-t-30">
                บริษัท สตาร์เฟล็กซ์ จำกัด (มหาชน)  จัดตั้งขึ้นเมื่อ ปี พ.ศ. 2546
                ปัจจุบันทุนจดทะเบียน 410 ล้านบาท ประกอบธุรกิจผลิตบรรจุภัณฑ์ชนิดอ่อน
                (Flexible Packaging)  ตั้งอยู่ที่อำเภอบางบ่อ  จังหวัดสมุทรปราการ
                บริษัทเป็นผู้นำในกลุ่มธุรกิจการผลิตบรรจุภัณฑ์ชนิดอ่อน   สามารถผลิตสินค้าได้อย่างมีคุณภาพ
                หลากหลายประเภท  ทั้งงานม้วนและงานซองรูปแบบต่างๆ  ตามความต้องการของลูกค้า
                รวมทั้งได้รับการรับรองมาตรฐานกระบวนการผลิตและความปลอดภัยทางด้านอาหาร
            </p>
            <a href="https://www.starflex.co.th/assets_di/pdf/CG_code.pdf" class="btn btn-default btn-lg" target="_blank">ดูเพิ่มเติม</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-6  wow bounceInUp" data-wow-offset="0" dat-wow-delay="0.8s">
        <h2>วิสัยทัศน์และพันธกิจ</h2>
        <p class="p-t-30">วิสัยทัศน์ (Vision) “เป็นผู้นำในธุรกิจ Flexible Packaging ในกลุ่มประเทศ CLMV”</p> 
        <ul class="list-group" style="color:#000;">
            <li class="list-group-item">พันธกิจ (Mission)</li>
            <li class="list-group-item">
                <i class="fa fa-check-circle"></i>
                มุ่งมั่นการสร้างสรรค์เทคโนโลยีและนวัตกรรมใหม่ๆ
            </li>
            <li class="list-group-item">
                <i class="fa fa-check-circle"></i>
                มุ่งมั่นการสร้างความเชื่อมั่นให้กับลูกค้า โดยการผลิตสินค้าอย่างมีคุณภาพและมาตรฐาน
            </li>
            <li class="list-group-item">
                <i class="fa fa-check-circle"></i>
                มุ่งมั่นการสร้างผลตอบแทนให้แก่ผู้ถือหุ้น และมีการขยายธุรกิจเพื่อให้เติบโตต่อเนื่อง
            </li>
            <li class="list-group-item">
                <i class="fa fa-check-circle"></i>
                มุ่งมั่นการเพิ่มศักยภาพของบุคลากรให้มีความรู้ พัฒนาองค์กรไปสู่องค์กรแห่งการเรียนรู้
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <img src="~/images/Investor/about_04.jpg" class="img-responsive" />
    </div>
</div>
<div class="main-feature" style="background-color:#f9f9f9;">
    <div class="container">
        <div class="col-lg-6 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.5s">
            <img src="~/images/Investor/award_about.jpg" class="img-responsive" />
        </div>
        <div class="col-lg-6 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.5s">
            <h2>Our Achievements</h2>
            <p class="p-t-10">
                บริษัทฯ ได้รับความไว้วางใจและการยอมรับจากลูกค้าเป็นอย่างดี
                โดยเฉพาะอย่างยิ่ง ลูกค้าที่เป็นองค์กรชั้นนำของประเทศ
                และทำให้ได้รับโอกาสในการพัฒนาสินค้าใหม่ๆ จากลูกค้า รวมไปถึงการนำเสนอผลิตภัณฑ์ใหม่ๆ
                ให้ลูกค้าพิจารณาได้อย่างต่อเนื่อง ส่งผลทำให้ยอดขายของบริษัทฯ เติบโตมาโดยตลอด จะเห็นได้จากการที่บริษัทฯ
                ได้รับรางวัล SSQR Awards (Superior Supplier Quality Relationship Award)
                ซึ่งเป็นรางวัลที่พิจารณาจาก 3 ด้าน ได้แก่ Cost Competitive, Excellence Service
                และ Innovation จาก Unilever Thai Holding Ltd. ซึ่งเป็นลูกค้ารายหลักมาอย่างต่อเนื่อง
            </p>
            <ul class="list-group" style="color:#000;">
                <li class="list-group-item">
                    <i class="fa fa-check-circle"></i>
                    รางวัลที่ได้รับ -
                </li>
                <li class="list-group-item">
                    <i class="fa fa-check-circle"></i>
                    ใบรับรองคุณภาพ - ใบรับรองคุณภาพ
                </li>
            </ul>
            <a href="/certificate/" class="btn btn-default btn-lg">ดูเพิ่มเติม</a>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="text-center">Corporate Culture</h3>
    <br />
    <div class="row">
      <div class="col-md-4 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.5s">
        <div class="iconbox iconbox-style-6 py-25">
          <div class="iconbox-container">
            <div class="iconbox-image">
                <a href="~/images/Investor/culture_1.png" rel="prettyPhoto"><i class="fa fa-bar-chart"></i></a>
            </div> 
            <div class="iconbox-content">
                <a href="~/images/Investor/culture_1.png" rel="prettyPhoto" class="iconbox-content-heading text-white">Sustainable Growth</a> 
                <div class="iconbox-content-body text-gray-3 "><p>พัฒนา และเติบโตแบบยั่งยืน</p></div>
            </div>
          </div>
        </div>
      </div> 
        <div class="col-md-4 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.7s">
        <div class="iconbox iconbox-style-6 py-25">
            <div class="iconbox-container">
            <div class="iconbox-image">
                <a href="~/images/Investor/culture_2.png" rel="prettyPhoto"><i class="fa fa-heart-o"></i></a>
            </div> 
            <div class="iconbox-content">
                <a href="~/images/Investor/culture_2.png" rel="prettyPhoto" class="iconbox-content-heading text-white">Passion to Win (Proactive)</a>
                <div class="iconbox-content-body text-gray-3 "><p>ยืนหยัด มุ่งมั่น ไปสู่เป้าหมาย</p></div>
                </div>
                </div>
            </div>
            </div>
        <div class="col-md-4 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.9s">
        <div class="iconbox iconbox-style-6 py-25">
            <div class="iconbox-container">
            <div class="iconbox-image">
                <a href="~/images/Investor/culture_3.png" rel="prettyPhoto"><i class="fa fa-lightbulb-o"></i></a>
                </div> 
            <div class="iconbox-content">
                <a href="~/images/Investor/culture_3.png" rel="prettyPhoto" class="iconbox-content-heading text-white">Innovative Thinking</a>
                <div class="iconbox-content-body text-gray-3 "><p>ขวนขวาย ริเริ่ม สร้างสรรค์ เพื่อพัฒนา</p>
                    </div>
                </div>
                </div>
            </div>
            </div> 
        <div class="col-md-4 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.5s">
        <div class="iconbox iconbox-style-6 py-25">
            <div class="iconbox-container">
            <div class="iconbox-image">
                <a href="~/images/Investor/culture_4.png" rel="prettyPhoto"><i class="fa fa-list-ul"></i></a>
                </div> <div class="iconbox-content">
                <a href="~/images/Investor/culture_4.png" rel="prettyPhoto" class="iconbox-content-heading text-white">Responsibility</a> 
                <div class="iconbox-content-body text-gray-3"><p>รู้ในหน้าที่ มีความรับผิดชอบ</p></div></div>
                </div>
            </div>
            </div> 
        <div class="col-md-4 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.7s">
            <div class="iconbox iconbox-style-6 py-25">
                <div class="iconbox-container">
                    <div class="iconbox-image"><a href="~/images/Investor/culture_5.png" rel="prettyPhoto"><i class="fa fa-balance-scale"></i></a></div> <div class="iconbox-content">
                        <a href="~/images/Investor/culture_5.png" rel="prettyPhoto" class="iconbox-content-heading text-white">
                            Integrity (Good Governance)
                        </a> <div class="iconbox-content-body text-gray-3 "><p>อยู่ในกรอบคุณธรรม และโปร่งใส</p></div>
                    </div>
                </div>
            </div>
        </div> <div class="col-md-4 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.9s">
        <div class="iconbox iconbox-style-6 py-25">
            <div class="iconbox-container">
                <div class="iconbox-image">
                 <a href="~/images/Investor/culture_6.png" rel="prettyPhoto"><i class="fa fa-users"></i></a>
                </div> 
                <div class="iconbox-content">
                <a href="~/images/Investor/culture_6.png" rel="prettyPhoto" class="iconbox-content-heading text-white">Teamwork</a>
                <div class="iconbox-content-body text-gray-3 "><p>ใส่ใจซึ่งกันและกัน ทำงานเป็นทีม</p></div>
               </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="main-feature">
        <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
            <div class="text-center">
                <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
                    <h2>รายงานประจำปี 2562</h2>
                    <button type="button" class="btn btn-default">ดาวน์โหลด</button>
                </div>
                <div class="wow bounceInUp" data-wow-offset="0" data-wow-delay="0.6s">
                    <h2>รายงานประจำปี 2563</h2>
                    <button type="button" class="btn btn-default">ดาวน์โหลด</button>
                </div>
            </div>
        </div>
    </div>
